.url-input-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding: 20px;
}


.input-field{
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
  color: #000;
  padding-left: 40px;
}

.btn{
  outline: none;
  border: none;
  width: 100px;
  color: #fff;
  padding: 8px 0px;
  text-align: center;
  background-color: #2563EB;
  border: 1px solid #2563EB;
  border-radius: 4px;
  margin-top: 20PX;
  cursor: pointer;
}

.imag-url-icon{
  position: absolute;
  width: 20px;
  height: auto;
  margin: 12px 10px;
}