.main-section{
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #f8fbff 25%,
    #eef4ff 60%,
    #e3ecff 100%
  );
}
.url-input-cont{
  margin: 10px 0;
  width: 100%;
  display: grid;
  grid-template-columns: .5fr 8fr .5fr;
  /* column-gap: 5px; */
  border: 1px solid #e5e7eb;
  align-items: center;
  padding: 10px 5px;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}


.input-field{
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Inter", "Segoe UI", sans-serif;
}

.form-button{
  outline: none;
  border: none;
  background-color: transparent;
}

.btn{
  text-align: end;
  color: #2563EB;
  cursor: pointer;
}

.url-link-icon{
  margin-left: 10px;
  width: 20px;
  height: auto;
  color:#000;

}